.portfolio_body{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "sidebar""portfolio";
    position: relative;
    @media screen and (min-width: 768px){
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "sidebar portfolio portfolio";
    }
    @media screen and (min-width: 1024px){
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "sidebar portfolio portfolio portfolio";
        
    }
}